<footer class="bg-blue sticky-bottom d-print-none">
				<div>
					<div class="text-clear row">
						<div class="col-md-5 d-flex flex-column align-items-center">
							<h4 class="m-4">Nous contacter</h4>
								<div class="d-flex justify-content-arround">
									<div class="m-4">
										<p>Lorem ipsum<br>105 rue Adresse<br>10 000 Codepostal</p>
									</div>
									<div class="m-4">
										<p>Tél. : 00 00 00 00 00<br>Email : mail@mail.com<br>Lorem ipsum</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 d-flex justify-content-between align-items-center">
								<h4>
									<a class="nav-link text-clear" href="">Mentions légales</a>
								</h4>
								<h4>
									<a class="nav-link text-clear" href="">Conditions d'utilisation</a>
								</h4>
							</div>
							<div class="col-md-3 d-flex justify-content-center align-items-center">
								<img class="img-sm" src="{{ asset('images/croissance (1).png') }}" alt="">
							</div>
						</div>
						<div class="mx-3 text-center">
                            <div class="pb-3">
                                <a class="text-clear" href="{{ path('app_stephanie') }}">Stéphanie Lacaze</a>
                            <a class="text-clear" href="{{ path('app_mathilde') }}"> | Mathilde Pierre dit Blanchet</a>
                            </div>
							<p class="text-center text-clear border-top p-3">Afpa 2023 | Formation CDA</p>
						</div>
					</div>
				</div>
			</footer>