<form method="post" action="{{ path('app_pre_inscription_delete', {'id': pre_inscription.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer votre demande de pré-inscription ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pre_inscription.id) }}">
    <button class="btn btn-md btn-red">Supprimer</button>
</form>
