{% extends 'base.html.twig' %}

{% block title %}Votre Espace personnel{% endblock %}

{% block body %}
<div class="container-fluid">
        <div class="bg-personnal bg-blueclear p-5 mt-5 ">
            <h4><span class="text-capitalize">espace</span> personnel</h4>
        </div>
        <div>
            <div>
                <div>
                    <p><span class="text-capitalize">mon</span> dossier</p>                
                </div>
                <div>
                    <p class="text-capitalize">etat :</p>
                </div>
            </div>
        
        </div>
        <div class=" border-2 border-start border-success"></div>
            <div class="me-5">
                <div class="my-5">
                    <h4>Informations personnelles</h4>
                </div>
                <div class="ms-5">
                    <p>Nom :</p>
                </div>
                <div class="ms-5">
                    <p>Prénom :</p>
                </div>
                <div class="ms-5">
                    <p>Email:</p>
                </div>
                <div class="ms-5">
                    <p>Mot de passe :</p>
                </div>
                <div>
                    <a class="btn btn-md btn-green text-light mt-5 ms-5" href="">Modifier</a>
                </div>
                <div>
                    <a href="btn btn-md btn-green text-light mt-5 ms-5">Nous contacter</a>
                </div>
            </div>


</div>


{% endblock %}
