{% extends 'base.html.twig' %}

{% block title %}Espace personnel / Pré-inscription{% endblock %}

{% block body %}
{# modal #}
<div class="modal fade" id="validationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<p id="exampleModalLabel">Votre formulaire a bien été envoyé !</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn bg-green text-clear" data-bs-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>

{# titre #}
<div class="container p-5 mt-5 bg-blueclear">
	<h1 class="pt-2 pb-5 text-clear">Votre pré-inscription</h1>
</div>

{# Bouton retour #}
<div class="container d-md-flex p-5 justify-content-md-start">
	<button class="btn bg-blue align-start">
		<a class="text-clear" href="javascript:history.back()">Retour</a>
	</button>
</div>

{# formulaire #}
<div class="container w-50">
	{{ include('pre_inscription/_form.html.twig') }}
</div>

{% endblock %}
