{% extends 'base.html.twig' %} {% block title %}A propos{% endblock %} {% block
body %}

{# titre #}
<div class="container p-5 my-5 bg-blueclear">
  <h1 class="pt-2 pb-5 text-clear">Conditions d'inscription</h1>
</div>

{% endblock %}