{% extends 'base.html.twig' %}

{% block title %}Nouvelle Formation{% endblock %}

{% block body %}
{# titre #}
<div class="container p-5 my-5 bg-blueclear">
  <h1 class="pt-2 pb-5 text-clear">Ajouter une formation</h1>
</div>

{# Bouton retour #}
<div class="container">
    <button class="btn bg-blue text-clear"><a class="text-clear" href="javascript:history.back()">Retour</a></button>
</div>

{# Formulaire #}
<div class="container">
    {{ include('formation/_form.html.twig') }}
</div>

{% endblock %}
