@import url("css/Style_m.css"); /*importation du fichier css de base */


/*BOUTON*/

.btn-green{
    background-color: var(--bs-green);
    color:white;
}
.btn-green:hover{
    color:white;
    opacity:2;
}
.btn-blue{
    background-color: var(--bs-blue);
    color:white;
}    
.btn-blue:hover{
    color:white;
    opacity:2;
}
.btn-red{
    background-color: var(--bs-red);
    color:white;
}