@import url("css/style_m.css"); import du fichier style_m.css dans espacePersonnel.css

.border-color{
    border-color: var(--bs-green);
}

.btn-green{
    background-color: var(--bs-green);
}
.btn-blue{
    background-color: var(--bs-blue);
}
