/* init */
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:wght@200;300&family=Roboto:wght@300&display=swap');
:root {
    --bs-white: #f9f5f6;
    --bs-white-tr: #f9f5f6b7;
    --bs-green: #39ac80;
    --bs-blue-light: #3c8cd7;
    --bs-blue: #153c51;
    --bs-red: #ac4039;
    --bs-font-body: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial;
    --bs-font-title: Raleway;
    --bs-font-decor: "Covered By Your Grace", Roboto, Arial;
}
.container-fluid {
   padding: 0px !important;
   margin: 0px !important;
}
html {
    overflow-x: hidden;
}
/* colors */
.bg-green {
    background-color: var(--bs-green);
}
.bg-blue {
    background-color: var(--bs-blue);
}
.bg-blueclear {
    background-color: var(--bs-blue-light);
    opacity: 0.7;
}
.bg-clear {
    background-color:var(--bs-white);
}
.bg-red {
    background-color: var(--bs-red);
}
.text-clear {
    color: var(--bs-white) !important;
}
.text-green {
    color:var(--bs-green);
}
.text-blue {
    color: var(--bs-blue);
}
.opacity {
    opacity: 0.7;
}
/* fonts */

p, li, h5, h6, td {
    font-family: var(--bs-font-body) !important;
}
h1, h2, h3, h4, a, button {
    font-family: var(--bs-font-title) !important;
}
.text-decor {
    font-family: var(--bs-font-decor);
}
/* images */
.img-sm {
    width: 60px; 
    height: 60px; 
}
.img-min {
    width: 40px;
    height: 40px;
}
.img-caroussel{
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0.7;
}
.img-page {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}
/* mise en page */
.w-30 {
    width: 30%;
}
.w-45 {
    width: 45%;
}
.w-55 {
    width: 55%;
}
.w-70 {
    width: 70%;
}
aside {
    border-left: 1px solid #dee2e6;
}
/* button & link */
.btn:hover {
    opacity: 0.7;
}
.nav-link:hover {
    opacity: 0.7;
}
a {
    text-decoration:none;
}
/* Formulaires */
.page {
    display: none;
}
.header {
    display: none;
}
#editor {
    border: solid rgb(202, 200, 200) 1px;
    background-color: rgba(255, 255, 255, 0.398);
    height: 8rem;
}
/* RESPONSIVE */
/* petits écrans */
@media all and (max-device-width: 799px)
{
    .desktop {
        display: none;
    }
    .img-min {
        width: 100px;
        height: 100px;
    }
    .font2 {
        font-size: 2rem;
    }
    .font3 {
        font-size: 3rem;
    }
    p {
        font-size: 150%;
    }
    button {
        font-size: 200% !important;
    }
    h1, h3 {
        font-size: 350%;
    }
    .container {
        margin: 0px;
        max-width: 100%;
    }
    .responsive-flex {
        flex-direction: column;
        align-items: center;
    }
    aside {
        border-left: 0px;
    }
    .responsive-center {
        text-align: center;
    }
    .responsive-width {
        width: 90% !important;
    }
    .responsive-margin {
        margin-bottom: 50px;
    }
    .w-50 {
        width: 100% !important;
    }
}
/* écrans moyens */
@media all and (min-device-width:800px) {
    .mobile {
        display: none;
    }
    .w-65 {
        width: 65%;
    }
    .flex-center {
        display: flex;
        justify-content: center;
    }
    .responsive-flex {
        flex-direction: column;
        align-items: center;
    }
    aside, .aside {
        border-left: 0px;
    }
    .responsive-center {
        text-align: center;
    }
    .responsive-width {
        width: 90% !important;
    }
    .responsive-margin {
        margin-bottom: 50px;
    }
}
/* grands écrans */
@media all and (min-device-width: 1024px) {

}
/* Impressions */
@media print {
    
}