{% extends 'base.html.twig' %}

{% block title %}Votre Espace personnel{% endblock %}

{% block body %}
<class="container-fluid ">
        <div class="bg-personnal bg-blueclear p-5 mt-5 ">
            <h4><span class="text-capitalize">espace</span> personnel</h4>
        </div>
            <div class="d-flex justify-content-between">
                <div class="">
                        <div class="border  border-color shadow p-3 bg-body rounded my-5 ms-5 ps-5 w-100">
                            <div class="d-flex my-5">
                            
                                <div class="mx-5">
                                    <h5>Mon dossier</h5>
                                </div>
                                <div class="mx-5">
                                    <h5>Etat :</h5>
                                </div>
                            </div>
                            <div class="d-flex flex-row my-5">
                                <button type="submit" class="mx-5 btn-green border-0 p-2">Voir mon dossier</button>
                                <a href= class="mx-5 text-decoration-none btn-blue p-2">Modifier</a>
                                <a href= class="mx-5 text-decoration-none btn-red p-2">Supprimer</a> 
                                
                            </div>
                            
                        </div>
                        <div class=" d-flex flex-row justify-content-around mb-5">
                            <a class="text-decoration-none btn btn-md btn-green" href="{{path('app_formation_index')}}">Découvrir les formations</a>
                            <a class="text-decoration-none btn btn-md btn-green" href="{{path('app_pre_inscription_new')}}">Se pré-inscrire</a>
                        </div>
                </div>
                <div class=" border-2 border-start border-success my-5"></div>
                    <div class="me-5">
                        <div class="my-5">
                            <h4>Informations personnelles</h4>
                        </div>
                        <div class="ms-5">
                            <p>Nom :</p>
                        </div>
                        <div class="ms-5">
                            <p>Prénom :</p>
                        </div>
                        <div class="ms-5">
                            <p>Email:</p>
                        </div>
                        <div class="ms-5">
                            <p>Mot de passe :</p>
                        </div>
                        <div>
                            <a class="btn btn-md btn-green text-light mt-5 ms-5" href="">Modifier</a>
                        </div>
                        <div class="">
                            <a href="" class="btn btn-md btn-green text-light my-5 ms-5">Nous contacter</a>
                        </div>
                </div>
            </div>
</div>

{% endblock %}
