<form method="post" action="{{ path('app_apprenant_delete', {'id': apprenant.id}) }}" onsubmit="return confirm('Êtes-vous sûr.e de vouloir supprimer cet apprenant ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ apprenant.id) }}">
    <button class="btn">Supprimer</button>
</form>

