{% extends 'base.html.twig' %}

{% block title %}Nouveau Financement{% endblock %}

{% block body %}
{# titre #}
<div class="container p-5 my-5 bg-blueclear">
  <h1 class="pt-2 pb-5 text-clear">Ajouter un financement</h1>
</div>

{# Formulaire #}
<div class="container">
<button class="btn bg-blue text-clear m-5 align-end"><a href="javascript:history.back()">Retour</a></button>
    {{ include('financement/_form.html.twig') }}
</div>

{% endblock %}
