{% extends 'base.html.twig' %} 

{% block title %}A propos{% endblock %} 

{% block body %} 

{# titre #}
<div class="container p-5 my-5 bg-blueclear">
  <h1 class="pt-2 pb-5 text-clear">À Propos</h1>
</div>

{# cartes #}
<div class="container p-5">
  <div class="d-flex responsive-flex">
    <div class="bg-clear shadow m-3 p-5">
      <h3 class="">Lorem ipsum</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque sint
        assumenda rerum optio reiciendis error corrupti facilis. Rem architecto
        quas natus voluptatibus doloremque expedita. Ea perferendis molestias ex
        reiciendis, voluptatum quia nihil non mollitia aut fuga, numquam at
        placeat commodi.
      </p>
    </div>
    <div class="bg-clear shadow m-3 p-5">
      <h3 class="">Lorem, ipsum dolor.</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis,
        ipsam maxime? Esse omnis doloremque cum tempore dicta sapiente minus
        facere quos amet blanditiis! Quaerat ad rerum pariatur autem, architecto
        tempore molestias nulla ab iure repellendus nemo dicta cumque! Dolorum
        nemo quas minima omnis pariatur nesciunt hic vel commodi in voluptatum!
      </p>
    </div>
  </div>
</div>

{% endblock %}
