<form method="post" action="{{ path('app_role_delete', {'id': role.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer ce rôle ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ role.id) }}">
    <button class="btn btn-md btn-red">Supprimer</button>
</form>
