{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="m-auto w-70">
        <button class="btn btn-md btn-green">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
