{{ form_start(form) }}
    <div class="m-auto w-70">
        {{ form_widget(form) }}
    </div>
    <div class="text-center">
        <button class="btn btn-md btn-green mb-5">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
