{% extends 'base.html.twig' %}

{% block title %}Administrateur/ Nouveau Rôle{% endblock %}

{% block body %}
    <div class="bg-blueclear my-5 p-5">
        <h1>Créer un nouveau rôle</h1>
    </div>
    
    {{ include('role/_form.html.twig') }}
    <div class="d-flex m-auto w-70 ">    
        <a class="btn btn-md btn-blue" href="{{ path('app_role_index') }}">Revenir à la liste</a>
    </div>
{% endblock %}
