{% extends 'base.html.twig' %}

{% block title %}Administrateur/ Nouveau Rôle{% endblock %}

{% block body %}

{# titre #}
<div class="container p-5 my-5 bg-blueclear">
  <h1 class="pt-2 pb-5 text-clear">Créer un nouveau rôle</h1>
</div>

{# Bouton retour #}
<div class="container">
    <button class="btn bg-blue"><a class="text-clear" href="javascript:history.back()">Retour</a></button>
</div>

{# Formulaire #}
<div class="container mb-5">
    {{ include('role/_form.html.twig') }}
</div>

{% endblock %}
