<style type="text/css">
  table.page_header {
    width: 100%;
    border: none;
    background-color: #f9f5f6;
    border-bottom: solid 1mm #3c8cd7;
    padding: 2mm;
  }
  table.page_footer {
    width: 100%;
    border: none;
    background-color: #f9f5f6;
    border-top: solid 1mm #3c8cd7;
    padding: 2mm;
  }
  div.note {
    border: solid 1mm #dddddd;
    background-color: #f9f5f6;
    padding: 2mm;
    border-radius: 2mm;
    width: 100%;
  }
  ul.main {
    width: 95%;
    list-style-type: square;
  }
  ul.main li {
    padding-bottom: 2mm;
  }
  h1 {
    text-align: center;
    font-size: 10mm;
  }
  h3 {
    text-align: center;
    font-size: 14mm;
  }
  .input{
    background-color: #f9f5f6;
    border: #3c8cd7 solid 1px;
    height: 20px;
  }
  .input2{
    background-color: #f9f5f6;
    border: #3c8cd7 solid 1px;
    height: 200px;
  }
  .ligne {
    margin-top: 10px;
  }
  td {
    text-align: end;
  }
</style>
<page
  backtop="14mm"
  backbottom="14mm"
  backleft="10mm"
  backright="10mm"
  style="font-size: 12pt"
>
<page_header>
    <table class="page_header">
      <tr>
        <td style="width: 100%; text-align: center">
          Projet Apprenant | Formulaire d'inscription
        </td>
      </tr>
    </table>
</page_header>
<page_footer>
    <table class="page_footer">
      <tr>
        <td style="width: 100%; text-align: center">Afpa 2023</td>
      </tr>
    </table>
  </page_footer>
  <h1>Formulaire d'inscription</h1>
  <br><br><br>
  <h2>Informations personnelles</h2>
  <br>
  <table style="width: 70%">
    <tr>
        <td>Nom : </td>
        <td><div class="input"></div><br></td>
    </tr>
    <tr>
        <td>Prénom : </td>
        <td><div class="input"></div><br></td>
    </tr>
    <tr>
        <td>Date de naissance : </td>
        <td><div class="input"></div><br></td>
    </tr>
    <tr>
        <td>Téléphone : </td>
        <td><div class="input"></div><br></td>
    </tr>
    <tr>
        <td>E-mail : </td>
        <td><div class="input"></div><br></td>
    </tr>
    <tr>
        <td>Num de Sécurité sociale : </td>
        <td><div class="input"></div><br></td>
    </tr>
    <tr>
        <td>Adresse : </td>
        <td><div class="input"></div><br></td>
    </tr>
    <tr>
        <td>Code postal : </td>
        <td><div class="input"></div><br></td>
    </tr>
    <tr>
        <td>Ville : </td>
        <td><div class="input"></div><br></td>
    </tr>
    <tr>
        <td>Région : </td>
        <td><div class="input"></div><br></td>
    </tr>
    <tr>
        <td>Pays : </td>
        <td><div class="input"></div><br></td>
    </tr>
  </table>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <h2>Inscription au cursus</h2>
  <br>
  <table style="width: 70%">
    <tr>
        <td>Expliquez en quelques phrases vos motivations<br>
        <i>(1000 caractères maximum)</i></td>
    </tr>
    <tr>
        <td><div class="input2"></div><br></td>
    </tr>
    <tr>
        <td>Quels parcours et quel type de financement souhaitez-vous ?<br>
        <i>(500 caractères maximum)</i></td>
    </tr>
    <tr>
        <td><div class="input2"></div><br></td>
    </tr>
  </table>
  <h2>Pièces justificatives</h2>
  <table style="width: 70%">
    <tr>
        <td>
            <h4>Liste des pièces à fournir afin de compléter votre dossier</h4>
        </td><br>
    </tr>
    <tr>
        <td><input type="checkbox">  Catre d'identité<br><br></td>
    </tr>
    <tr>
        <td><input type="checkbox">  Justificatif de financement<br><br></td>
    </tr>
    <tr>
        <td><input type="checkbox">  Attestation de carte Vitale<br><br></td>
    </tr>
    <tr>
        <td>
            <i>Vous pouvez joindre des documents de votre choix pour compléter votre inscription</i><br>
            <input type="checkbox">  Autre document<br>
       </td>
    </tr>
  </table>
</page>
