{% extends 'base.html.twig' %}

{% block title %}Edit InscriptionApprenant{% endblock %}

{% block body %}
    <h1>Edit InscriptionApprenant</h1>

    {{ include('inscription_apprenant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_inscription_apprenant_index') }}">back to list</a>

    {{ include('inscription_apprenant/_delete_form.html.twig') }}
{% endblock %}
