{% extends 'base.html.twig' %}

{% block title %}New InscriptionApprenant{% endblock %}

{% block body %}
    <h1>Create new InscriptionApprenant</h1>

    {{ include('inscription_apprenant/_form.html.twig') }}

{% endblock %}
