{% extends 'base.html.twig' %}

{% block title %}Nouveau Cursus{% endblock %}

{% block body %}
{# titre #}
<div class="container p-5 mt-5 bg-blueclear">
  <h1 class="pt-2 pb-5 text-clear">Ajouter un cursus</h1>
</div>

{# Bouton retour #}
	<div class="container p-5">
		<button class="btn bg-blue">
			<a class="text-clear" href="javascript:history.back()">Retour</a>
		</button>
	</div>

{# Formulaire #}
<div class="container">
    {{ include('cursus/_form.html.twig') }}
</div>

{% endblock %}
