{{ form_start(form) }}
    <div class=" border border-1 border-color shadow bg-clear m-auto w-50 my-5 p-5">
    
    </div>
    <div class="text-center mb-4">
        <button class="btn btn-md btn-green  ">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
