{% extends 'base.html.twig' %}

{% block title %}Administrateur/modifier un utilisateur{% endblock %}

{% block body %}
    <div class="bg-blueclear p-5 my-4">
        <h1>Modifier un utilisateur</h1>
    </div>

    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div class =" d-flex justify-content-around my-4">
        <a  class="btn btn-md btn-blue" href="{{ path('app_user_index') }}">Revenir à la liste</a>

        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
