{% extends 'base.html.twig' %}

{% block title %}Administrateur/création d'un nouvel utilisateur{% endblock %}

{% block body %}
    <div class="bg-blueclear p-5">
        <h1>Créer un nouvel utilisateur</h1>
    </div>
    <div class="m-5">
        {{ include('user/_form.html.twig') }}
    </div>
    <div class="text-center">
        <a class="btn btn-md btn-blue m-5" href="{{ path('app_user_index') }}">Revenir à la liste</a>
    </div>
{% endblock %}
